@using Microsoft.AspNetCore.Identity
@using MilitaryScheduler.ViewModels

@model RequestsViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var targetedRequestsList = new List<RequestViewModel>();
    var targetRequestsList = new List<RequestViewModel>();
    if (Model.RequestsList != null && Model.RequestsList.Any())
    {
        targetedRequestsList = Model.RequestsList.Where(r => r.TargetedUser == User.Identity.Name).ToList();
        targetRequestsList = Model.RequestsList.Where(r => r.TargetUser == User.Identity.Name).ToList();
    }
}


<script src="~/js/daypilot/daypilot-all.min.js" asp-append-version="true"></script>
<link href="icons/style.css" rel="stylesheet" type="text/css">


@if (SignInManager.IsSignedIn(User))
{
    <h2>Requests to approve</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">From</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in targetedRequestsList)
            {
                <tr>
                    <td>@request.TargetUser</td>
                    <td>@request.Date</td>
                    <td><a asp-area="" asp-controller="Requests" asp-action="ApproveEventRequest" asp-route-requestId="@request.RequestId">Approve</a></td>
                    <td><a asp-area="" asp-controller="Requests" asp-action="DeleteEventRequest" asp-route-requestId="@request.RequestId">Decline</a></td>
                </tr>
            }
        </tbody>
    </table>

    <hr />

    <h2>Your Requests</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">To</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in targetRequestsList)
            {
                <tr>
                    <td>@request.TargetedUser</td>
                    <td>@request.Date</td>
                    <td><a asp-area="" asp-controller="Requests" asp-action="DeleteEventRequest" asp-route-requestId="@request.RequestId">Decline</a></td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p class="mega">
        Military Scheduler
    </p>
    <p class="mini">Please login in order to access the time scheduler.</p>
}
